#root {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  background: rgba(128, 128, 128, 0.158);
  height: 100vh;
  display: flex;
}

input {
  border-radius: 8px;
  border: 1px solid lightgreen;
  height: 80%;
  margin-bottom: 1%;
}

.btn {
  border-radius: 12px;
  background-color: green;
  color: whitesmoke;
  padding: 12px 10px;
}

li {
  list-style: none;
  padding: 3%;
  font-size: x-large;
  line-height: 1.5rem;
}



